{% extends "layout.html" %}

{% block content %}
<div class="bg-light p-1"></div>
<div class="p-4 pt-2 h-100 fondo" style="--f:url(../static/img/fondo0.jpg)">
    <div>
        <img src="../static/img/logo0.png" alt="NoHayLogo :[" class="logo">
        <!-- <img src="../static/img/logo.png" alt="NoHayLogo :[" class="logo"> -->
        <h2 class="text-light text-center logo" style="font-family: 'Cubano', sans-serif;">
            Crujientes por fuera, suaves por dentro y hechas con amor.
        </h2>
        <h1 class="d-none">Crujientes por fuera, suaves por dentro y hechas con amor</h1>
    </div>
</div>

<div class="h-100 fondo row" style="--f:url(../static/img/fondo2.jpg)">

    <div class="col-sm-6 p-4" id="carrucel">
        <div class="collapse">
            <a href="productos" class="text-decoration-none ">
                <h1 class="text-light text-center " style="font-family: 'Cubano', sans-serif;">Productos</h1>
                <div class="w-50 mx-auto">
                    <div class="cuadrado">
                        <img class="rounded" src="../static/img/productos/{{G[0].img}}"
                            alt="Imagen No Diponible">
                    </div>
                </div>
                <h4 class="text-light text-center">{{G[0].nombre}}</h4>
                <a href="detalles?id={{G[0].id_producto}}"><button class="Centrado rounded-pill py-1">Ver
                        este producto</button></a>
            </a>
        </div>

        <div class="collapse">
            <a href="productos" class="text-decoration-none ">
                <h1 class="text-light text-center " style="font-family: 'Cubano', sans-serif;">Productos</h1>
                <div class="w-50 mx-auto">
                    <div class="cuadrado">
                        <img class="rounded" src="../static/img/productos/{{G[1].img}}"
                            alt="Imagen No Diponible">
                    </div>
                </div>
                <h4 class="text-light text-center">{{G[1].nombre}}</h4>
                <a href="detalles?id={{G[1].id_producto}}"><button class="Centrado rounded-pill py-1">Ver
                        este producto</button></a>
            </a>
        </div>

        <div class="collapse">
            <a href="productos" class="text-decoration-none ">
                <h1 class="text-light text-center " style="font-family: 'Cubano', sans-serif;">Productos</h1>
                <div class="w-50 mx-auto">
                    <div class="cuadrado">
                        <img class="rounded" src="../static/img/productos/{{G[2].img}}"
                            alt="Imagen No Diponible">
                    </div>
                </div>
                <h4 class="text-light text-center">{{G[2].nombre}}</h4>
                <a href="detalles?id={{G[2].id_producto}}"><button class="Centrado rounded-pill py-1">Ver
                        este producto</button></a>
            </a>
        </div>
    </div>

    <div class="col-sm-6 d-flex align-items-center" style="background-image: url(../static/img/img\ 0.jpg);">
        <div class="rounded bg-opacity" style="--co:#00000080;">
            <h1 class="text-light text-center" style="font-family: 'Cubano', sans-serif;">Disfuta de muestras recetas y deléitate con nuestro sabor único.</h1>
            <a href="productos"><h4 class="text-light text-center">Ver más...</h4></a>
        </div>
    </div>

</div>





<div class="bg-dar p-1"></div>
<footer class="bg-danger p-4">
    <h4 class="text-light text-center">Corporativo Internacional Mexicano S.A de C.V</h4>
</footer>


<script>
    var mostrar = 0;
    var car = $('#carrucel .collapse');

    function cambiar() {
        car.eq(mostrar).slideToggle(250);
        if (mostrar != 0) { car.eq(mostrar - 1).slideToggle(250); }

        if (car.length <= mostrar) {
            car.eq(mostrar).slideToggle(250);
            mostrar = 0;
            car.eq(mostrar).slideToggle(250);
        }
        mostrar++;
    }
    setInterval(cambiar, 4000);


    //INTERESANTE
        // car.each(function(index) {
        //     var elemento = $(this);
        //     console.log(elemento);
        //     setTimeout(function() {elemento.slideToggle();}, index * 1000);
        // });
</script>
{% endblock content %}