{% extends "layout.html" %}

{% block content %}
<div class="bg-light p-1"></div>
<div class="p-4 pt-2 back h-100 fondo" 
    style="--f:url(../static/img/fondo3.jpg);">

    <h4 class="text-center text-light">Crear cuenta</h4>
    <div class="container " style="margin-top: 32px;"  >
        <div class="row p-4">
            
            <div class="col-4">
                <!-- <p><span>Este Programa es público, ajeno a cualquier partido político. Queda prohibido el uso para fines
                    distintos a los establecidos en el programa</span></p> -->
            <p>


            </div>

            <div class="col-4 p-4 rounded bg-opacity text-light" style="--co:#00000080;">
                <form action="/singup" method="POST" >
                    {% with messages = get_flashed_messages() %}{% if messages %}<div class="bg-danger m-2 p-2 rounded">{{ messages[0] }}</div>{% endif %}{% endwith %}

                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>

                    <label for="" class="w-25"><b>Nombre:</b></label>
                    <input type="text" name="nombre" style="padding: 2px 16px;" required minlength="4">
                    <br><br>
                    <label for="" class="w-25"><b>Apellido Paterno:</b></label>
                    <input type="text" name="apellidoP" style="padding: 2px 16px;" required minlength="4">
                    <br><br>
                    <label for="" class="w-25"><b>Apellido Materno:</b></label>
                    <input type="text" name="apellidoM" style="padding: 2px 16px;" required minlength="4">
                    <br><br>

                    <label for="" class="w-25"><b>Correo:</b></label>
                    <input type="email" name="correo" style="padding: 2px 16px;" required>
                    <br><br>
                    <label for="" class="w-25"><b>Contraseña:</b></label>
                    <input type="password" name="contrasena" style="padding: 2px 16px;" required minlength="4">
                    
                    <br><br>
                    <button type="submit" class="btn btn-success">Entrar</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}